body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
  min-height: 100vh;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.header-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-details .sortlist-icon{
  padding-left: 10px;
}
.dark-mode{
  background-color: black;
}

.dark-mode h1{
  color: white;
}
.dark-mode .sortlist-icon{
  color: white;
}

.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px , 1fr) );
}

.note.new{
  background-color: #7fded4;
}
.note textarea{
  border: none;
  resize: none;
  background-color: #7fded4;
}

textarea:focus{
  outline: none;
}

.save{
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
}
.save:hover{
  background-color: #ededed;
  cursor: pointer;
}
.note{
  background-color: #fef68a;
  border-radius: 10px;
  padding: 1rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-icon{
  cursor: pointer;
}

.search{
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5rem;
}

.search input{
  border: none;
  background-color: rgb(233, 233, 233);
}

.search input:focus{
  outline: none;
}